/*
 @descricao: Arquivo para definicao de variaveis
 @author: Kelvin Santiago
 @date: 22/11/2017
 @referencia: http://chir.ag/projects/name-that-color/
 */

@import 'variaveis';

$blue-zodiac: #0E2B4A
